@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --azul: #00507d;
  --celeste: #00c7dc;
  --morado: #7b0068;
  --verde: #6dc72a;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Righteous", cursive;
  margin: 0;
  padding: 0;
}

.titulo-principal {
  margin-top: 2vh;
  font-size: 80px;
  font-weight: 600;
}

article,
section {
  margin-top: 60px;
}

p {
  font-family: "Open Sans", sans-serif;
}

.text-morado {
  color: var(--morado);
}

.text-azul {
  color: var(--azul);
}

.text-verde {
  color: var(--verde);
}

.pic-wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
  opacity: 1;
  background: url("../img/baner/Banner\ 1.png") no-repeat center center;
  background-size: cover;
}

.pic-2 {
  animation-delay: 4s;
  background: url("../img/baner/Banner\ 2.png") no-repeat center center;
  background-size: cover;
}

.pic-3 {
  animation-delay: 8s;
  background: url("../img/baner/Banner\ 3.png") no-repeat center center;
  background-size: cover;
}
.pic-4 {
  animation-delay: 12s;
  background: url("../img/baner/Banner\ 4.png") no-repeat center center;
  background-size: cover;
}
.pic-5 {
  animation-delay: 16s;
  background: url("../img/baner/Banner\ 5.png") no-repeat center center;
  background-size: cover;
}
.pic-6 {
  animation-delay: 20s;
  background: url("../img/baner/Banner\ 6.png") no-repeat center center;
  background-size: cover;
}

/* keyframes*/

@keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transformm: scale(1);
  }
}

.fondo-banner {
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(to right, var(--morado), var(--verde));
  opacity: 0.4;
  position: absolute;
  padding-bottom: 100px;
}

.text-banner {
  width: 100vw;
  height: 100%;
  padding-bottom: 10vh;
  position: relative;
}

.fila-banner {
  padding-left: 10vw;
  z-index: 10;
}

.logo-arsenito {
  margin-left: 20px;
  width: 100px;
  height: 100px;
}

.title-small {
  color: var(--verde);
  font-weight: 600;
}

.team {
  display: flex;
  align-items: end;
  justify-content: start;
}

.nav-item {
  margin-left: 80px;
  font-size: 18px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: var(--verde) !important;
  text-decoration: var(--verde) !important;
}

#nav {
  background-color: transparent !important;
}

.my-nav {
  background-image: linear-gradient(to right, #7b0068, #32cd32);
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}

.bg {
  background-image: linear-gradient(179deg, white, #81a10b5e);
  /* overflow: hidden; */
}

.bg-inv {
  background-image: linear-gradient(3deg, white, #81a10b5e);
  overflow: hidden;
}
.bg-inv-c {
  background-image: linear-gradient(3deg, #81a10b5e, #81a10b5e);
  overflow: hidden;
}

/* prueba nav */
.hover-nav {
  position: relative;
}
.nav-item:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: #fff;
  transition: all 0.3s;
  left: 0px;
  bottom: 0px;
}

.nav-item:hover:after {
  opacity: 1;
  width: 100%;
}

/* Linea del tiempo */

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: "";
  position: absolute;
  top: 30px;
  bottom: 50px;
  left: 27px;
  height: 93%;
  width: 2px;
  background: #44cc44;
}

@media (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
    height: 91%;
  }
}

@media (max-width: 1169px) {
  #cd-timeline::before {
    height: 90%;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #32cd32, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline-img img {
  display: block;
  width: 215%;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -65px;
  margin-top: -37px;
}
.cd-timeline-img.cd-picture {
  background: #32cd32;
}

.cd-timeline-img.cd-picture-mo {
  background: #7b0068;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cd-timeline-img-mo {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}

.cd-timeline-content p {
  font-size: 12px;
}
.cd-timeline-content .img-timeline {
  width: 100%;
  text-align: center;
}

.cd-timeline-content .img-timeline .img-timeline-2 {
  display: flex;
  width: 100%;
  margin-left: 10%;
}
.cd-timeline-content .img-timeline .img-timeline-2 img {
  width: 40%;
}
.cd-timeline-content .img-timeline img {
  width: 50%;
}

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 30px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

/* Collage de fotos reuniones */
.container-collaje {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
}
.container-collaje .coll-img {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
}
.container-collaje .coll-img img {
  width: 100%;
  border: solid 1px #7b0068;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.wide {
  grid-column: span 2;
}

.container-collaje .coll-img img:hover {
  width: 120%;
  border-radius: 10px;
  box-shadow: 10px 10px 15px 2px #bfbfbfa3;
  opacity: 1;
  transform: scale(1.02);
}
@media (max-width: 767px) {
  .container-collaje {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

@media (max-width: 767px) {
  .text-banner {
    width: 100vw;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 0;
    padding-bottom: 0;
  }
  .titulo-principal {
    margin-top: 2vh;
    font-size: 50px;
    font-weight: 400;
    color: white;
  }
  .team {
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .text-video {
    background-color: var(--azul);
    width: 100%;
    min-height: 34vh;
    padding: 56px;
  }
  .nav-item {
    margin-left: 30px;
    font-size: 18px;
  }
  /* .fila-banner {
        padding-left: 10vw;
        z-index: 10;
        padding-left: 0;
    } */
}
